node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
dist
**/dist
build
**/build
data
**/data
out
**/out
.git
.github
*.log
coverage
test-results
playwright-report
*.tsbuildinfo
**/*.tsbuildinfo
